#page-question-three {
  min-height: 400px;
  margin: 0px 20px;
}

#page-question-three main fieldset {
  border: 0;
  padding: 0  24px;  
}

#page-question-three main fieldset legend {
  font: 700 24px Roboto;
  color: var(--color-black);
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--color-line-in-white);
}

#page-question-three main fieldset legend button{
  margin-left: 50px;
}

#page-question-three main fieldset .line-row{
  margin-top: 10px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 3fr 1fr;
  column-gap: 16px; 
}

#page-question-three main fieldset .line-row .input-block {
  margin-top:0 !important; 
}

#page-question-three main fieldset .line-row button {
  margin-top: 35px;
}

#page-question-three main fieldset .sort-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-question-three main fieldset .numbers-container {
  display: flex;
  flex-direction: column;
  margin: 25px;
  font: 700 24px Roboto;
  color: var(--color-black);
}

#page-question-three main fieldset .numbers-container .number-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

#page-question-three main fieldset .numbers-container .number-block label {
  min-width: 100px;
}





